<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding: 20px;
      }
      table th, table td {
        text-align: center;
      }
    </style>
</head>
<body>

    <h2>Basic URL Shortener</h2>

    <form method="POST">
        <input type="text" name="url" placeholder="Enter URL" required>
        <button type="submit">Shorten</button>
    </form>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    {% if short_url %}
    <div class="mb-3">
        <label>Short URL:</label>
        <div class="input-group">
            <input type="text" id="shortUrl" class="form-control" value="{{ short_url }}" readonly>
            <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard()">Copy</button>

	    <br><br>
            <span id="copyMessage" style="color:green;"></span>
        </div>
    </div>

    {% endif %}


    <br><br>
    <a href="/history">View History</a>

<script>
function copyToClipboard() {
    var copyText = document.getElementById("shortUrl");
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices
    document.execCommand("copy");
    document.getElementById("copyMessage").innerText = "Copied!";
    alert("Copied the URL: " + copyText.value);
}
</script>


</body>
</html>
